* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #333333;
  --heading-color: #EBEBEB;
  --footer-color: #BFBFBF;  
  --topline-color: #404040;
  --accent-color: #009999;

  --background-color: #edeef6;
  --gray-color: #425366;
  --white-color: #FFFFFF;
  --accent2-color: #E8E8E8;
  --error-color: rgb(228, 46, 1);
}

body {
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);

  /* to put footer at the bottom of the page */
  min-height:100%; 
  position:relative; 
  padding-bottom:100px;
}

html{
  height: 100%;
}

code {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  text-decoration: none;
}

/* header start*/
header{
  padding: 15px 10% 15px 10%;
  background-color: var(--heading-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li span {
  padding: 10px 15px;
  font-weight: lighter;
  color: var(--primary-color);
  border-bottom: solid 3px var(--primary-color) ;
  margin-left: 10px;
}

header nav ul li span:hover{
  background-color: var(--accent-color);
  border-bottom: solid 3px var(--accent-color) ;
  color: var(--white-color);
}

.navActive{
  background-color: var(--accent-color);
  border-bottom: solid 3px var(--accent-color) ;
  color: var(--white-color);
  font-weight: lighter; 
}

.name-h1-container{
  padding: 3px 15px 3px 0;
  background-color: var(--accent2-color);
  display: flex;
  flex-direction: column;
  text-align: right;
}

.name-h1-container a{
  color: var(--primary-color);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* header end*/


/* all sections - common classes start */
.card{
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--heading-color);
  margin-bottom: 20px;
}
.section-container{
  display: flex;
  margin-top: 30px;

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;

}
.section-left{
  border-right: none;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  padding-right: 20px;
}
.section-left h2{
  display: inline;
}
.section-right{
  width: 100%;
  align-self: stretch;
}

.class-float-left{
  float: left;
}
.class-clear-both{
  clear: both;
}
.class-padding-right-20{
  padding-right: 20px;
}
.font-size-text{
  font-size: 20px;
}
.font-size-menu{
  font-size: 22px;
}
.font-size-heading{
  font-size: 24px;
}
.font-size-name{
  font-size: 30px;
}
/* all sections - common classes end */


/* jumbotron start */
.jumb{
  /* background-image: url("./assets/banner-clouds.jpg"); */
  background-image: url("./assets/hero.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  width: 100%;
  /* height: auto; */
  background-size: cover;
  overflow: hidden;
}

.jumb h2{
  margin-right: 10%;
}

.heroHidden{
  visibility: hidden;
  height: 48vh;
}

.heroOverlay{
  background: rgba(0,0,0,0.2);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end ;
}
/* jumbotron end */


/* about me start */
.about-me-p{
  line-height: 1.5;
  padding-bottom: 15px;
  text-align: justify;
}
.aboutMeImage{
  width: 250px;
}
/* about me end */


/* Contact me start*/
.contact-me-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contact-me-flex a{
  font-size: 1.5vw;
  color: var(--heading-color);
  padding-left: 2px;
  border-bottom: solid 3px var(--heading-color);
}
/* Contact me end*/


/* Work section start */ 
.work-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: left;
  align-items: stretch;
  grid-gap: 10px;
}
.work-grid-item{
  border: solid 1px var(--footer-color);
  overflow: hidden;
  /* set width, height and padding-bottom to keep proportions of the item*/
  width: 100%; /* */
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  position: relative;
}
.work-grid-item-1{
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  background-image: url("./assets/projects/teach-me-to.jpg");
}
.work-grid-item-2{
  background-image: url("./assets/projects/cardsocial.png");
}
.work-grid-item-3{
  background-image: url("./assets/projects/rentzsite.jpg");
}
.work-grid-item-4{
  background-image: url("./assets/projects/badget-tracker.jpg");
}
.work-grid-item-5{
  background-image: url("./assets/projects/tech-blog.jpg");
}
.work-grid-item-6{
  background-image: url("./assets/projects/e-commerce-APIs.jpg");
}
.work-grid-item-7{
  background-image: url("./assets/projects/weather-dashboard.jpg");
}
.work-grid-item::after{
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 2s;
  z-index: 1;
}
.work-grid-item:hover::after{
  opacity: 0;
}

.work-card-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}
.work-card-title{
  font-size: 1.3vw;
  font-weight: bold;
}
.work-card-subtitle{
  font-size: 0.8vw;
}
.work-card-link{
  color: var(--primary-color);
}
/* Work section end */ 

/* contact form */
.error-text{
  color: var(--error-color);
}
.label{
  color: var(--primary-color);
  padding-bottom: 0px;
}
.input{
  color: var(--primary-color);
  width: 400px;
  height: 40px;
}
.textarea{
  color: var(--primary-color);
  width: 400px;
  height: 140px;
}
.button {
  margin-top: 20px;
  background-color: var(--accent-color);
  border: none;
  color: var(--heading-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  width: 200px;
}
.button:hover{
  cursor: pointer;
}
.h3-resume{
  font-size: 20px;
}

.ul-resume{
  padding-left: 40px;
  margin-bottom: 20px;
}
.ul-resume li{
  padding: 5px 0;
}
.resumeDownload{
  color: var(--accent-color);
}
/* end contact form */

/* footer start*/
footer{
  margin-top: 40px;
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;

  /* to put footer at the bottom of the page*/
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height:80px; 
}

.icon-footer{
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
/* footer end*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1200px) {
  .heroHidden{
    height: 45vh;
  }
  header{
    padding: 15px 5% 15px 5%;
  }  
  .section-container{
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 992px) {
  .section-container{
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      }
  .section-right{
      width: 100%;
  }
  .contact-me-flex a{
      border-bottom: none;
  }
  .heroHidden{
    height: 40vh;
  }
  .font-size-text{
    font-size: 16px;
  }
  .font-size-menu{
    font-size: 18px;
  }
  .font-size-heading{
    font-size: 20px;
  }
  .font-size-name{
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  header {
      justify-content: center;
      position: relative;
  }  
  header nav ul li a{
      padding-bottom: 5px;
  }
  header nav ul{
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  .work-grid{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);  
  }
  .work-grid-item::after{
      display: none;
  }
  .aboutMeImage{
    width: 150px;
  }
  .heroHidden{
    height: 30vh;
  }
  .font-size-text{
    font-size: 14px;
  }
  .font-size-menu{
    font-size: 16px;
  }
  .font-size-heading{
    font-size: 18px;
  }
  .font-size-name{
    font-size: 24px;
  }
     
}

